http://pandas.pydata.org/pandas-docs/stable/

O pandas serve para carregar os dados.
Se quiser saber mais detalhes, dê uma olhada na Documentação do Pandas.

In [13]:
import pandas

data = pandas.read_csv("2_class_data.csv")

In [14]:
data.head()

        x1        x2  y
0  0.78051 -0.063669  0
1  0.28774  0.291390  0
2  0.40714  0.178780  0
3  0.29230  0.421700  0
4  0.50922  0.352560  0

Quando há dados carregados dentro do jupyter já temos um DATAFRAME.
 - data **EQUIVALE** dataframe
 - dataframe: **df**

### Extração de colunas de um dataframe:

In [15]:
data['x2']

0    -0.063669
1     0.291390
2     0.178780
3     0.421700
4     0.352560
5     0.108020
6     0.332230
7     0.312450
8     0.429840
9     0.249860
10    0.136580
11    0.335950
12    0.426240
13    0.404260
14    0.451170
15    0.201180
16    0.214450
17    0.243060
18    0.444380
19    0.392170
20    0.402710
21    0.507020
22    0.453840
23    0.320530
24    0.373070
25    0.696480
26    0.573410
27    0.277590
28    0.055964
29    0.286370
        ...
70    0.967640
71    0.608650
72    0.920750
73    0.666660
74    0.568450
75    0.708500
76    0.631670
77    0.804240
78    0.561080
79    0.715820
80    0.740600
81    0.715480
82    0.740410
83    0.629270
84    0.464100
85    0.748470
86    0.547570
87    0.869850
88    0.647360
89    0.830580
90    0.965410
91    0.642450
92    0.601380
93    0.869550
94    0.745160
95    0.701400
96    0.717820
97    0.579910
98    0.859870
99    0.623590
Name: x2, Length: 100, dtype: float64