In [188]:
import pandas as pd
import matplotlib.pyplot as plt

In [190]:
#Versão do pandas utilizada
pd.__version__

'0.23.0'

In [175]:
# Read in the data from ListaServidores20082018192209.csv
df = pd.read_csv('/home/brunocampos01/Downloads/ListaServidores20082018192209.csv',
                 encoding='latin1')

In [176]:
#First five lines of DataFrame
df.head()

,Nome,CPF,ValorBruto,Cargo,OrgaoExercicio,OrgaoOrigem,Unnamed: 6
0,AARAO LUIZ SCHMITZ JUNIOR,***.753.779-**,12262,6,DISPOSICAO - ONUS DA ORIGEM,SECRETARIA DE ESTADO DA ADMINISTRAï¿½ï¿½O,NaN
1,ACACIO ANTONIO DA SILVA,***.367.549-**,7597,91,AGENTE DE SERVICOS GERAIS,SECRETARIA DE ESTADO DA ADMINISTRAï¿½ï¿½O,NaN
2,ADALBERTO COSTA,***.400.350-**,16042,70,MEDICO,SECRETARIA DE ESTADO DA ADMINISTRAï¿½ï¿½O,NaN
3,ADELIA MALVINA DA SILVA KLINGELFUS,***.122.009-**,11276,83,TECNICO EM ATIVIDADES ADMINISTRATIVAS,SECRETARIA DE ESTADO DA ADMINISTRAï¿½ï¿½O,NaN
4,ADEMAR DUTRA,***.286.589-**,13545,13,ADMINISTRADOR,SECRETARIA DE ESTADO DA ADMINISTRAï¿½ï¿½O,NaN

In [177]:
#Five Ultimate DataFrame Lines
df.tail()

,Nome,CPF,ValorBruto,Cargo,OrgaoExercicio,OrgaoOrigem,Unnamed: 6
962,ZENI TEIXEIRA,***.879.269-**,10015,1,TECNICO EM ATIVIDADES ADMINISTRATIVAS,SECRETARIA DE ESTADO DA ADMINISTRAï¿½ï¿½O,NaN
963,ZILDA AURORA MENDES,***.164.419-**,5779,54,AGENTE DE SERVICOS GERAIS,SECRETARIA DE ESTADO DA ADMINISTRAï¿½ï¿½O,NaN
964,ZILDA SOUTO DOS SANTOS,***.306.409-**,7807,83,AGENTE EM ATIVIDADES ADMINISTRATIVAS,SECRETARIA DE ESTADO DA ADMINISTRAï¿½ï¿½O,NaN
965,ZULAMAR DA SILVA FLOR,***.864.339-**,11617,50,TECNICO EM ATIVIDADES ADMINISTRATIVAS,SECRETARIA DE ESTADO DA ADMINISTRAï¿½ï¿½O,NaN
966,ZULMAR GUIDO BUNN,***.202.749-**,9716,4,AGENTE EM ATIVIDADES ADMINISTRATIVAS,SECRETARIA DE ESTADO DA ADMINISTRAï¿½ï¿½O,NaN

In [178]:
df.dtypes

Nome              object
CPF               object
ValorBruto         int64
Cargo              int64
OrgaoExercicio    object
OrgaoOrigem       object
Unnamed: 6        object
dtype: object

In [179]:
#remove unnecessary columns
df = df.drop(['CPF', 'OrgaoOrigem', 'Unnamed: 6'], axis=1)

In [180]:
# rows and columns
df.shape

(967, 4)

In [181]:
#Selecionando linhas de um dataset com base em uma condição
df[df['ValorBruto'] >= 20000]

,Nome,ValorBruto,Cargo,OrgaoExercicio
31,ALDO BELLARMINO DA SILVA,20015,35,ECONOMISTA
97,ARNALDO AMORIM JUNIOR,20191,23,ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE
257,ENY PEREIRA DO NASCIMENTO,27424,0,PROCURADOR ADMINISTRATIVO
304,GILMAR KRUKER,20650,0,ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE
402,JOAO CARLOS TOLENTINO NEVES,23182,30,ANALISTA TECNICO ADMINISTRATIVO II
447,JULIO COUTINHO FILHO,20879,94,MEDICO
507,LUIZ CARLOS COSTA DE SOUZA,20799,9,PROCURADOR JURIDICO
518,LUIZ RICARDO RAU,21670,43,MEDICO
528,MANOEL MARTINS DE MEDEIROS,21443,16,PROFESSOR
541,MARCIA MARIA BASSO SILVA,22667,60,CONSULTOR EDUCACIONAL
557,MARIA APARECIDA MOTTER,23798,24,PROFESSOR
607,MARIA TEREZINHA ULIANA CAMPOS,22246,10,PROFESSOR
645,MAURICIO JOSE PEREIRA,20371,97,TECNICO UNIVERSITARIO DE SUPORTE
659,MIRIAM DO NASCIMENTO,21927,65,ESPECIALISTA EM ASSUNTOS EDUCACIONAIS
754,RAUL FRANCIO,21262,26,PROFESSOR
790,ROMMEL SEVERO TEIXEIRA DA CUNHA,21108,67,ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE
802,ROSELANE DA SILVA DAROS,22673,22,CONSULTOR EDUCACIONAL
807,ROSIMARIE SABEL DE SIMAS TORO,22657,69,PROFESSOR
894,TEREZINHA CAMPOS DUTRA,20610,97,ADMINISTRADOR
949,WALTER JORGE JOSE,28947,55,PROCURADOR DO ESTADO

In [182]:
#Selecting unique column values column OrgaoExercicio
df['OrgaoExercicio'].unique()

array(['DISPOSICAO - ONUS DA ORIGEM', 'AGENTE DE SERVICOS GERAIS',
       'MEDICO', 'TECNICO EM ATIVIDADES ADMINISTRATIVAS', 'ADMINISTRADOR',
       'PROFESSOR', 'ENGENHEIRO', 'ANALISTA TECNICO ADMINISTRATIVO II',
       'AGENTE EM ATIVIDADES ADMINISTRATIVAS', 'TECNICO EM CONTABILIDADE',
       'TECNICO EM INFORMATICA', 'SANITARISTA', 'ECONOMISTA',
       'TECNICO EM DESENHO', 'PSICOLOGO',
       'TECNICO EM SEGURANCA DO TRABALHO', 'ENFERMEIRO',
       'ASSISTENTE SOCIAL',
       'ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE', 'ARTIFICE I',
       'ARTIFICE II', 'BIBLIOTECARIO', 'AGENTE EM ATIVIDADES DE SAUDE II',
       'PEDAGOGO', 'OPERADOR GRAFICO',
       'ESPECIALISTA EM ASSUNTOS EDUCACIONAIS', 'CONSULTOR EDUCACIONAL',
       'DISPOSICAO ONUS DA ORIGEM COM RESSARCIMENTO', 'FARMACEUTICO',
       'MOTORISTA', 'AGENTE DE SEGURANCA SOCIOEDUCATIVO',
       'AGENTE PENITENCIARIO', 'ANALISTA DE INFORMATICA',
       'TECNICO EM ATIVIDADES DE ENGENHARIA', 'MEDICO PERITO',
       'PROCURADOR ADMINISTRATIVO', 'TECNICO EM ENFERMAGEM DO TRABALHO',
       'TECNICO EM ATIVIDADES DE SAUDE',
       'TECNICO UNIVERSITARIO DE DESENVOLVIMENTO', 'INSTRUTOR',
       'DISPOSICAO - ONUS NO DESTINO', 'ASSESSOR', 'CONTADOR',
       'PROCURADOR JURIDICO', 'ASSISTENTE DE SERVICO',
       'ANALISTA TECNICO EM GESTAO PUBLICA',
       'TECNICO UNIVERSITARIO DE SUPORTE', 'MONITOR',
       'ANALISTA TECNICO EM GESTAO CULTURAL', 'ENCARREGADO DE SETOR',
       'PROCURADOR DO ESTADO'], dtype=object)

In [201]:
# sorted by 'ValorBruto'
df.sort_values(by=['ValorBruto'],ascending=False)

,Nome,ValorBruto,Cargo,OrgaoExercicio
949,WALTER JORGE JOSE,28947,55,PROCURADOR DO ESTADO
257,ENY PEREIRA DO NASCIMENTO,27424,0,PROCURADOR ADMINISTRATIVO
557,MARIA APARECIDA MOTTER,23798,24,PROFESSOR
402,JOAO CARLOS TOLENTINO NEVES,23182,30,ANALISTA TECNICO ADMINISTRATIVO II
802,ROSELANE DA SILVA DAROS,22673,22,CONSULTOR EDUCACIONAL
541,MARCIA MARIA BASSO SILVA,22667,60,CONSULTOR EDUCACIONAL
807,ROSIMARIE SABEL DE SIMAS TORO,22657,69,PROFESSOR
607,MARIA TEREZINHA ULIANA CAMPOS,22246,10,PROFESSOR
659,MIRIAM DO NASCIMENTO,21927,65,ESPECIALISTA EM ASSUNTOS EDUCACIONAIS
518,LUIZ RICARDO RAU,21670,43,MEDICO
528,MANOEL MARTINS DE MEDEIROS,21443,16,PROFESSOR
754,RAUL FRANCIO,21262,26,PROFESSOR
790,ROMMEL SEVERO TEIXEIRA DA CUNHA,21108,67,ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE
447,JULIO COUTINHO FILHO,20879,94,MEDICO
507,LUIZ CARLOS COSTA DE SOUZA,20799,9,PROCURADOR JURIDICO
304,GILMAR KRUKER,20650,0,ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE
894,TEREZINHA CAMPOS DUTRA,20610,97,ADMINISTRADOR
645,MAURICIO JOSE PEREIRA,20371,97,TECNICO UNIVERSITARIO DE SUPORTE
97,ARNALDO AMORIM JUNIOR,20191,23,ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE
31,ALDO BELLARMINO DA SILVA,20015,35,ECONOMISTA
511,LUIZ FERNANDO ERTHAL,19972,56,TECNICO EM ATIVIDADES ADMINISTRATIVAS
42,ALINE RAMOS FERNANDES,19837,66,PROFESSOR
505,LUIZ ANTONIO DACOL,19809,54,TECNICO EM ATIVIDADES ADMINISTRATIVAS
660,MIRIAM RUTH HAGEMANN,19648,87,CONSULTOR EDUCACIONAL
532,MARA REGINA HERMES LUZ,19610,89,PROFESSOR
791,ROMUALDO BENIGNO FERLIN,19458,90,ADMINISTRADOR
464,LAERTE CASCAES LISBOA,19266,52,ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE
183,DELFINO JOAO SCHAEFER,19262,23,ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE
839,SERGIO TEIXEIRA VARGAS,19160,31,ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE
833,SELEZIO MIGUEL DE SOUZA,19101,44,TECNICO EM ATIVIDADES ADMINISTRATIVAS
...,...,...,...,...
125,CAROLINA LAMIN FIRMO,6499,11,AGENTE DE SERVICOS GERAIS
888,TATIANA DE SOUZA KIMURA WOYAKEWICZ,6462,87,TECNICO EM ATIVIDADES ADMINISTRATIVAS
373,IVO KNISS,6413,6,AGENTE DE SERVICOS GERAIS
745,RAFAELA MARTINS SCHNEIDER COSTA GESSER,6394,64,TECNICO EM ATIVIDADES ADMINISTRATIVAS
20,AGUINALDO JOSE LOUREIRO,6229,54,AGENTE EM ATIVIDADES ADMINISTRATIVAS
631,MARLENE DE SOUSA RIBEIRO,5946,63,ANALISTA TECNICO EM GESTAO PUBLICA
963,ZILDA AURORA MENDES,5779,54,AGENTE DE SERVICOS GERAIS
804,ROSEMARY LAURA DA SILVA,5726,72,AGENTE DE SERVICOS GERAIS
388,JAIRO ELIZIARIO VARGAS DO PRADO,5554,5,MEDICO
671,NATALIA HONORINA CORDEIRO,5453,76,AGENTE DE SERVICOS GERAIS
897,TEREZINHA SILVEIRA ANACLETO,5225,9,AGENTE DE SERVICOS GERAIS
697,NOIR MANOEL BRUNO,5220,4,TECNICO EM ATIVIDADES ADMINISTRATIVAS
608,MARIA ZELANDA MARQUES DE OLIVEIRA,4222,93,AGENTE EM ATIVIDADES ADMINISTRATIVAS
338,HILDA SILVA DE SOUZA,3997,35,AGENTE DE SERVICOS GERAIS
269,EVALDIVA DE MELO OLIVEIRA,3718,99,AGENTE EM ATIVIDADES ADMINISTRATIVAS
49,ALUAR DE OLIVEIRA PINTO,3672,76,ANALISTA TECNICO EM GESTAO E PROMOCAO DE SAUDE
781,RODRIGO JACQUES ZARPELLON,3650,34,MEDICO
709,ONELIO JOAO DOS SANTOS,3623,47,AGENTE DE SERVICOS GERAIS
951,WANDERLEY LEMOS,2890,17,OPERADOR GRAFICO
843,SIDNEY AGUIAR FILHO,2323,54,DISPOSICAO - ONUS DA ORIGEM
270,EVANDRO JORGE TRILHA,1947,32,DISPOSICAO - ONUS DA ORIGEM
899,THEMIS DE SOUZA FERNANDES,415,80,TECNICO EM ATIVIDADES ADMINISTRATIVAS
264,ESTEFANIA MOURA DE CAMPOS,235,70,DISPOSICAO - ONUS DA ORIGEM
901,THIAGO SOUZA ARAUJO,0,0,ADMINISTRADOR
152,CLEBER DANIEL DE FARIA,0,0,ADMINISTRADOR
284,FILIPE SCHUUR,0,0,ADMINISTRADOR
445,JULIANA BRAND FLORES PIOVESAN,0,0,ADMINISTRADOR
883,TAISA DIAS,0,0,ADMINISTRADOR
272,EVELYN CREMONESE,0,0,MEDICO
822,SABRINA LEITIS RAMOS,0,0,ENFERMEIRO

In [184]:
#Creating new dataset with clean data
df.to_csv('salarios_servidores_SEA_06.18_limpo.csv', index=False)